// Breakpoints
@max-container: 1024px;
@max-break: (max-width: @max-container);
@min-break: (max-width: 500px);

@content-width-max: 80%;
@content-width-min: 90%;

// Color assignments 
@button-bg-alpha: @teal;
@button-bg-bravo: @eastern-blue;
@footer-bg: @sandy-beach;
@font-color: @shark;
@main-bg:  @white;
@navigation-border: @silver;

// Colors
@eastern-blue: #17A2B8;
@sandy-beach: #FFEBCD;
@shark: #212529;
@silver: #C0C0C0;
@teal: teal;
@white: #FFFFFF;

// Font Stacks
@font-hed: 'Indie Flower', cursive;
@font-body: 'Roboto', sans-serif;